include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/ukds_custom_dcat_profiles *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/ukds_custom_dcat_profiles/migration *.ini *.py *.mako
